.tabcontent {
    display: none;
}

.tablink {
    cursor: pointer;
}

.selected-card {
    background-color: yellow; /* 選択されたカードの背景色 */
}

#expansionList label, #unusedCards label {
    display: block;
    margin-bottom: 5px;
}

#unusedCards .expansion-section {
    margin-top: 10px;
    padding-left: 15px;
}

#unusedCards .card-item {
    margin-left: 15px;
}
